AWS_REGION = ""

#SECRETS
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_SESSION_TOKEN = ""

#AWS Services
S3_BUCKET_NAME = ""
RABBITMQ_URL = ""

#RDS
RDS_PORT = 0
RDS_USER = ""
RDS_PASSWORD = ""

INVENTORY_DB_HOST = ""
INVENTORY_DB_NAME = ""

PAYMENT_DB_HOST = ""
PAYMENT_DB_NAME = ""

ORDER_DB_HOST = ""
ORDER_DB_NAME = ""
